@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: white;
}

body {
  background-image: url("/images/plant-background.png");
  background-color: #1B3016;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

input:focus {
  outline: 2px solid #519259;
  border: none;
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

