@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: white;
}

body {
  background-color: #163020;
}

input:focus {
  outline: none;
  border: none;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}
